.vscode
.kdev4
*.kdev4
*.swp
*.kate-swp
.vs
*.sln
*.vcxproj
*.user
obj
build
bin
configuration-generated.cpp
docs_doxygen
node_modules/
_book/
packaging/
CAN-binder/package/
compile_commands.json
.stfolder
