[submodule "libs/openxc-message-format"]
	path = libs/openxc-message-format
	url = git@github.com:openxc/openxc-message-format.git
[submodule "libs/nanopb"]
	path = libs/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "libs/uds-c"]
	path = libs/uds-c
	url = git@github.com:openxc/uds-c.git
	url = git@github.com:nanopb/nanopb.git
[submodule "libs/bitfield-c"]
	path = libs/bitfield-c
	url = git@github.com:openxc/bitfield-c.git
